@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* navbar code */

.nav-container-1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: 100vh; */
    /* background-color: aquamarine; */
    background-color:rgb(255, 255, 255) ;
    overflow: hidden;
    position:static;
    /* border: 2px solid red; */
}

nav{
    /* background: #fff; */
    border-radius:50px;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
}

nav ul li{
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    
}

nav ul li::after {
    content: '';
    background:#760fcb;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s , opacity 0.5s;
}

nav ul li:hover{
    color: white;
    text-transform: capitalize;
}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
   .nav-container-1 {
      /* Adjust styles for smaller screens */
      height: auto;
      font-size: 5px;
    }
    
  }
  
  @media screen and (max-width: 480px) {
    .content-on-top {
      font-size: 16px; /* Further adjust font size for even smaller screens */
    }
  }

/* navbar end  */


/* HomeLanding */

.video-container {
    position: relative;
    width: 100%; /* Full width of the viewport */
    height:110vh; /* Full height of the viewport */
    overflow: hidden; /* Ensure video doesn't overflow */
    top: -105px;
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170vh;
    overflow: hidden;
  }
  
  .content-on-top {
    position: absolute;
    top: 50%; /* Place content in the middle vertically */
    left: 50%; /* Place content in the middle horizontally */
    transform: translate(-50%, -50%); /* Center content */
    z-index: 1;
    text-align: center; /* Center text horizontally */
    color: black;
    font-size: 40px;
  }

  #bg-video{
    object-fit:cover; 
    object-position: center;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    #bg-video {
      /* Adjust styles for smaller screens */
      height: 100vh;
      
    }
    
    .content-on-top {
      font-size: 18px; /* Adjust font size for smaller screens */
      
    }
  }
  
  @media screen and (max-width: 480px) {
    .content-on-top {
      font-size: 16px; /* Further adjust font size for even smaller screens */
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: absolute;
    /* padding: 50px; */
    /* background-color: #fff; */
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.6);
    width: 35%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    /* margin-bottom: 20px; */
    padding: 20px;
}

.hero-text p {
    font-size: 24px;
    color: #333;
    padding: 30px;
}


/* btn component */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-appearance: button; */
  background-color: #760fcb;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  /* -webkit-mask-image: -webkit-radial-gradient(#000, #fff); */
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  /* vertical-align: middle; */
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  /* border-radius: 999px; */
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

/* btn end */


/* contact page */

.backround-contact{
    background-image: url("./assets/CodeCafe.png");
    background-size: cover;
    background-position: center;
}

